#PACE: Start of Constraints extracted by PACE from the Design
NET "clk" LOC = "p126";
NET "convst" LOC = "p39";
NET "datain<0>" LOC = "p15";
NET "datain<1>" LOC = "p18";
NET "datain<2>" LOC = "p20";
NET "datain<3>" LOC = "p21";
NET "datain<4>" LOC = "p22";
NET "datain<5>" LOC = "p23";
NET "datain<6>" LOC = "p24";
NET "datain<7>" LOC = "p26";
NET "datain<8>" LOC = "p27";
NET "datain<9>" LOC = "p28";
NET "datain<10>" LOC = "p29";
NET "datain<11>" LOC = "p30";
NET "datain<12>" LOC = "p31";
NET "datain<13>" LOC = "p32";
NET "dout" LOC = "p114";
NET "kout" LOC = "p117";
NET "samp_oe" LOC = "p12";
NET "timerout" LOC = "p118";
NET "othersoe<0>" LOC = "p3";
NET "othersoe<1>" LOC = "p4";
NET "othersoe<2>" LOC = "p5";
NET "othersoe<3>" LOC = "p6";
NET "othersoe<4>" LOC = "p7";
NET "othersoe<5>" LOC = "p8";
NET "othersoe<6>" LOC = "p10";
NET "othersoe<7>" LOC = "p11";
NET "othersoe<8>" LOC = "p13";
NET "othersoe<0>" PULLUP;
NET "othersoe<1>" PULLUP;
NET "othersoe<2>" PULLUP;
NET "othersoe<3>" PULLUP;
NET "othersoe<4>" PULLUP;
NET "othersoe<5>" PULLUP;
NET "othersoe<6>" PULLUP;
NET "othersoe<7>" PULLUP;
NET "othersoe<8>" PULLUP;
